.button {
  width: 250px;
  height: 82px;
  border: none;
}

.justButtons {
  min-width: 320px;
  width: 100%;
  min-height: 720px;
  height: 100%;
  background-color: antiquewhite;
}

.first-row {
  display: flex;
  flex-wrap: wrap;
}
.first-row-button {
  margin: 20px auto;
  border-radius: 10px;
  border: 2px solid rgb(255, 242, 249);
  color: rgb(57, 54, 58);
  font-size: 16px;
  font-weight: bold;
}
.first-row-first {
  background-color: rgb(101, 217, 255);
  box-shadow: inset 0px -5px 0px rgb(49, 134, 163);
  transition: background-color, box-shadow 1s ease;
}
.first-row-first:hover {
  background-color: rgb(243, 255, 161);
  box-shadow: inset 0px -5px rgb(171, 185, 80);
}
.first-row-first:active {
  background-color: rgb(254, 194, 227);
  box-shadow: inset 0px -5px rgb(149, 67, 112);
}
.first-row-second {
  background-color: rgb(243, 255, 161);
  box-shadow: inset 0px -5px rgb(171, 185, 80);
  transition: background-color, box-shadow 1s ease;
}
.first-row-second:hover {
  background-color: rgb(254, 194, 227);
  box-shadow: inset 0px -5px rgb(149, 67, 112);
}
.first-row-second:active {
  background-color: rgb(101, 217, 255);
  box-shadow: inset 0px -5px 0px rgb(49, 134, 163);
}
.first-row-third {
  background-color: rgb(254, 194, 227);
  box-shadow: inset 0px -5px rgb(149, 67, 112);
  transition: background-color, box-shadow 1s ease;
}
.first-row-third:hover {
  background-color: rgb(101, 217, 255);
  box-shadow: inset 0px -5px 0px rgb(49, 134, 163);
}
.first-row-third:active {
  background-color: rgb(243, 255, 161);
  box-shadow: inset 0px -5px rgb(171, 185, 80);
}

.second-row {
  display: flex;
  flex-wrap: wrap;
}
.second-row-button {
  color: rgb(218, 218, 218);
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px auto;
  border-radius: 10px;
}
.second-row-first {
  background-color: white;
  box-shadow: inset 0px -70px blue;
  transition: background-color, box-shadow 1s ease-in;
}
.second-row-first:hover {
  background-color: blue;
  color: rgb(38, 38, 133);
  box-shadow: inset 0px 70px white;
}
.second-row-first:active {
  background-color: red;
  color: rgb(249, 73, 117);
  box-shadow: inset 210px 0px rgb(255, 255, 255);
}
.second-row-second {
  background-image: radial-gradient(circle at top left, yellow, red);
  color: green;
  text-shadow: 0px 10px, 0px -10px;
  transition: text-shadow, font-size, color 1s ease;
}
.second-row-second:hover {
  text-shadow: none;
}
.second-row-second:active {
  font-size: 24px;
  text-shadow: 0 20px, 0 -20px;
  color: white;
}
.second-row-third {
  background-color: rgb(166, 83, 129);
  transition: background-color, padding-top, padding-bottom 1s ease-in;
}
.second-row-third:hover {
  background-color: rgb(158, 98, 255);
}
.second-row-third:active {
  background-color: rgb(58, 199, 255);
  padding-top: 0;
  padding-bottom: 50px;
}

.third-row {
  display: flex;
  flex-wrap: wrap;
}
.third-row-button {
  margin: 20px auto;
  border-radius: 10px;
  border: 3px solid rgb(38, 12, 55);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
}
.third-row-first {
  transition: background-color 0.5s ease;
}
.third-row-second {
  transition: transform 0.5s ease;
}
.third-row-third {
  transition: transform 0.5s ease;
}

.fourth-row {
  display: flex;
  flex-wrap: wrap;
}
.fourth-row-button {
  margin: 20px auto;
  border-radius: 40px;
  border: 1px solid rgb(92, 253, 208);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(232, 255, 85);
}
.fourth-row-first {
  background-image: none;
}
.fourth-row-second {
  background-image: none;
}
.fourth-row-third {
  position: relative;
  left: 0;
  transition: left 0.1s ease;
}

.fifth-row {
  display: flex;
  flex-wrap: wrap;
}
.fifth-row-button {
  margin: 20px auto;
  border: 5px solid rgb(62, 164, 33);
  color: green;
  background-color: rgb(230, 233, 238);
  font-size: 16px;
  font-weight: bold;
}
.fifth-row-first {
  background-image: none;
}
.fifth-row-second {
  background-image: none;
}
.fifth-row-third:hover {
  opacity: 0;
}

.bgtoggle {
  background-color: red;
}

.rotate {
  transform: rotate(360deg);
}

.scale {
  transform: scaleX(1.8);
}

.scaleZ {
  transform: scale(1.2);
}

.scaleZZ {
  transform: scale(2.2);
}

.hard {
  transform-origin: 100% 50%;
}/*# sourceMappingURL=style.css.map */