.button{
    width:250px;
    height:82px;
    border:none;
}
.All-buttons{
    width:100%;
}
.justButtons{
    min-width:320px;
    width:100%;
    min-height: 600px;
    background-image: linear-gradient(rgb(226, 211, 148)60%,rgb(120, 118, 116) 79%,#191820 95%);
    padding-bottom: 90px;
}
.NotjustButtons{
    background-color: #191820;
}
.body{
    height: 100%;
    width: 100%;
}
.reload{
    &-wrapper{
    display: block;
    position: relative;
    left:-3px;
    width:40px;
    height:40px;
    transition: rotate 0.2s ease;
    &::after{
        content: "";
        display: block;
        width:30px;
        height:30px;
        background-image: url(./icons/reset-25.svg);
        background-position: center;
    }
    }
}
.menu{
    display: none;
    width:100px;
    height:100vh;
    background-color: darkcyan;
    &__text{
        margin:5px auto;
        text-align: center;
    }
    &__button{
        width:50px;
        height:50px;
        margin: 5px auto 15px auto;
        border-radius: 15px;
        border:none;
        border: 1px solid lightsalmon;
        background-color: rgb(227, 222, 222);
        transition: background-color 0.4s ease;
        &:hover{
            background-color: rgb(253, 255, 240);
        }
        &:active{
            background-color: rgb(174, 248, 248);
        }
    }
}
.first{
    &-row{
        display:flex;
        flex-wrap: wrap;
        &-button{
            margin:20px auto;
            border-radius: 10px;
            border: 2px solid rgb(255, 242, 249);
            color:rgb(57, 54, 58);
            font-size:16px;
            font-weight: bold;
        }
        &-first{
            background-color: rgb(101, 217, 255);
            box-shadow:inset 0px -5px 0px rgb(49, 134, 163);
            transition: background-color,box-shadow 1s ease;
            &:hover{
                background-color: rgb(243, 255, 161);
                box-shadow: inset 0px -5px rgb(171, 185, 80);
            }
            &:active{
                background-color: rgb(254, 194, 227);
                box-shadow: inset 0px -5px rgb(149, 67, 112);
            }
        }
        &-second{
            background-color: rgb(243, 255, 161);
            box-shadow: inset 0px -5px rgb(171, 185, 80);
            transition: background-color,box-shadow 1s ease;
            &:hover{
                background-color: rgb(254, 194, 227);
                box-shadow: inset 0px -5px rgb(149, 67, 112);
            }
            &:active{
                background-color: rgb(101, 217, 255);
                box-shadow:inset 0px -5px 0px rgb(49, 134, 163);
            }
               
        }
        &-third{
            background-color: rgb(254, 194, 227);
            box-shadow: inset 0px -5px rgb(149, 67, 112);
            transition: background-color,box-shadow 1s ease;
            &:hover{
                background-color: rgb(101, 217, 255);
                box-shadow:inset 0px -5px 0px rgb(49, 134, 163);
            }
            &:active{
                background-color: rgb(243, 255, 161);
                box-shadow: inset 0px -5px rgb(171, 185, 80);
        }
    }
}
}
.second{
    &-row{
        display:flex;
        flex-wrap: wrap;
        &-button{
            color:rgb(218, 218, 218);
            font-size:16px;
            text-transform: uppercase;
            margin:20px auto;
            border-radius: 10px;
        }
        &-first{
            background-color: white;
            box-shadow: inset 0px -70px blue;
            transition: background-color,box-shadow 0.7s ease-in ;
            &:hover{
                background-color: blue;
                color:rgb(38, 38, 133);
                box-shadow:inset 0px 70px white ;
            }
            &:active{
                background-color: red;
                color:rgb(249, 73, 117);
                box-shadow:inset 210px 0px rgb(255, 255, 255);
            }
        }
        &-second{
            background-image: radial-gradient(circle at top left, yellow , red);
            color: green;
            text-shadow: 0px 10px,0px -10px;
            transition: text-shadow,font-size,color 1s ease;
            &:hover{
                text-shadow:none;
            }
            &:active{
                font-size:24px;
                text-shadow:0 20px, 0 -20px;
                color: white;
            }
        }
        &-third{
            background-color: rgb(166, 83, 129);
            transition: background-color,padding-top,padding-bottom 1s ease-in ;
            &:hover{
                background-color:rgb(158, 98, 255);
            }
            &:active{
                background-color:rgb(58, 199, 255);
                padding-top:0;
                padding-bottom: 50px;
            }
        }
    }
}
.third{
    &-row{
        display:flex;
        flex-wrap: wrap;
        &-button{
            margin:20px auto;
            border-radius: 10px;
            border: 3px solid rgb(38, 12, 55);
            color:rgb(0, 0, 0);
            font-size:16px;
            font-weight: bold;
        }
        &-first{
            transition: background-color 0.5s ease;
        }
        &-second{
            transition: transform 0.5s ease;  
            &:hover{
                background-color: rgb(231, 231, 231);
            }   
        }
        &-third{
            transition: transform 0.5s ease;  
            &:hover{
                background-color: rgb(231, 231, 231);   
            }
    }
}
}
.fourth{
    &-row{
        display:flex;
        flex-wrap: wrap;
        &-button{
            margin:20px auto;
            border-radius: 40px;
            border: 1px solid rgb(92, 253, 208);
            color:rgb(0, 0, 0);
            font-size:16px;
            font-weight: bold;
            background-color: rgb(232, 255, 85);
        }
        &-first{
            &:hover{
                background-color: rgb(243, 255, 151);   
            }
        }
        &-second{
            &:hover{
                background-color: rgb(242, 255, 161);   
            }
        }
        &-third{
            position: relative;
            left:0;
            transition: left 0.1s ease;
            &:hover{
                background-color: rgb(239, 255, 150);   
            }
    }
}
}
.fifth{
    &-row{
        display:flex;
        flex-wrap: wrap;
        &-button{
            margin:20px auto;
            border: 5px solid rgb(62, 164, 33);
            color:green;
            background-color: rgb(230, 233, 238);
            font-size:16px;
            font-weight: bold;
        }
        &-first{
            &:hover{
                background-color: rgb(230, 239, 255);  
            }
        }
        &-second{
            &:hover{
                background-color: rgb(232, 241, 255);   
            }
   
        }
        &-third{
            &:hover{
               opacity: 0;
            }
    }
}
}
.bgtoggle{
    background-color: red;
}
.rotate{
    transform: rotate(360deg);
    &-transition{
        transition: rotate 60s ease-out !important;
    }
}
.scale{
    transform: scaleX(1.8);
}
.scaleZ{
    transform: scale(1.2);
}
.scaleZZ{
    transform: scale(2.2);
}
.hard{
    transform-origin: 100% 50%;
}
.first{
    &-sigma{
        &-row{
            display:flex;
            flex-wrap: wrap;
            &-button{
                margin:20px auto;
                background-color: #191820;
                border:none;
                border-radius:15px;
                box-shadow:5px 5px 15px 5px black,
                -5px -5px 15px 0px rgb(134, 134, 134);
                color: #ececec;
                transition: all 0.2s ease;
                font-size:20px;
                &:hover{
                    font-size:22px;
                    color:whitesmoke;
                }
                &:active{
                    box-shadow:inset 5px 5px 15px 5px black,
                    inset -5px -5px 5px 0px black;
                    font-size:21px;
                }

            }
        }
    }
}
.second{
    &-sigma{
        &-row{
            display:flex;
            flex-wrap: wrap;
            &-button{
                height:250px;
                margin:20px auto;
                background-color: #191820;
                border:none;
                border-radius:50%;
                box-shadow:inset 5px 5px 15px 5px black,
                    inset -5px -5px 5px 0px black;
                color: #ececec;
                transition: all 0.2s ease;
                font-size:20px;
                &:hover{
                    color:whitesmoke;
                    border:3px solid #ad8af7;
                }
                &:active{
                    border:none;
                    box-shadow:5px 5px 15px 10px rgb(65, 31, 31),
                    -5px -5px 15px 5px rgb(251, 127, 255);
                    font-size:23px;
                    transform: scale(1.05);
                }

            }
        }
    }
}
@media (min-width:1366px){
.body{
    display: flex;
    flex-direction: row-reverse;
}
.menu{
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
}
}